{{!-- main.handlebars --}}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Your Hackathon Project</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  {{> header}}

  {{{body}}}

  {{> footer}}

  <script src="/js/main.js"></script>
</body>
</html>
